@CHARSET "UTF-8";




table {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
}

/*Riga intestazione*/
table th {
	font-size: 1.3em;
	padding: 5px;
	border-bottom: 2px solid gray;
}

td {
	border-bottom: 2px solid gray;
	text-align: center;
	font-size: 1.2em;
}

a {
	text-decoration: none;
}

a,a:visited {
	color: #0000FF;
}

@media only screen and (max-width: 750px) {
	#myOrdersTable, #myPreferitiTable, #allOrdersTable {
		overflow-x: scroll;	
	}
}