<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FumetteriaOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UtenteControl</servlet-name>
    <servlet-class>it.fumetteria.control.UtenteControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteControl</servlet-name>
    <url-pattern>/utente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticoloControl</servlet-name>
    <servlet-class>it.fumetteria.control.ArticoloControl</servlet-class>
    <init-param>
      <param-name>image-upload</param-name>
      <param-value>img</param-value>
    </init-param>
    <init-param>
      <param-name>item-folder</param-name>
      <param-value>articoli</param-value>
    </init-param>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>10485760</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticoloControl</servlet-name>
    <url-pattern>/articolo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FumettoControl</servlet-name>
    <servlet-class>it.fumetteria.control.FumettoControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FumettoControl</servlet-name>
    <url-pattern>/fumetto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdineControl</servlet-name>
    <servlet-class>it.fumetteria.control.OrdineControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdineControl</servlet-name>
    <url-pattern>/ordine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SegueControl</servlet-name>
    <servlet-class>it.fumetteria.control.SegueControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SegueControl</servlet-name>
    <url-pattern>/preferiti</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SerieControl</servlet-name>
    <servlet-class>it.fumetteria.control.SerieControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerieControl</servlet-name>
    <url-pattern>/serie</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>it.fumetteria.filters.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/fumetteria</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>
  		it.fumetteria.control.MyServletContextListener
  	</listener-class>
  </listener>
  <error-page>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/login.jsp</location>
  </error-page>
</web-app>